In [20]:
-m pip install PyMySQL
pymysql.install_as_MySQLdb()

SyntaxError: invalid syntax (2135717377.py, line 1)

In [ ]:
#Create Engine
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
username='root'
password='root'
connection=f"mysql+pymysql://{username}:{password}@localhost/sakila"
engine=create_engine(connection)

In [ ]:
#'1. What query would you run to get all the customers inside city_id = 312? 
# Your query should return the customers' first name, last name, email, address, and city. )''


USE sakila;
SELECT first_name, last_name, email, address, city_id 
FROM customer JOIN address ON customer.address_id = address.address_id
WHERE address.city_id = '312';

In [ ]:
#2. What query would you run to get all comedy films? Note that the genre is called the category in this schema.  
#Your query should return film title, description, release year, rating, and special features.

USE sakila;

SELECT title, description, release_year, rating, special_features, name
FROM film JOIN category ON category.category_id=film.film_id
WHERE name = 'Comedy'

In [ ]:
#3. What query would you run to get all the films that Johnny Lollobrigida was in? 
#Your query should return the actor's last name, film title, and release year. 

USE sakila;

SELECT DISTINCT last_name, title, release_year
FROM film
JOIN film_actor ON film_actor.actor_id=film.film_id
JOIN actor ON actor.actor_id=film_actor.actor_id
WHERE last_name = 'Lollobrigida'

In [ ]:
#4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

USE sakila;

SELECT DISTINCT first_name, last_name
FROM actor
JOIN film_actor ON film_actor.actor_id=actor.actor_id
JOIN film ON film.film_id=film_actor.actor_id
WHERE title = 'Bingo Talented'

In [ ]:
#5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount?
# (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

USE sakila;

SELECT customer.customer_id, SUM(amount) AS total
FROM payment
JOIN customer ON payment.customer_id=customer.customer_id
WHERE amount >= 2* (SELECT AVG(amount)
					FROM payment)
GROUP BY customer_id

In [ ]:
#6. What query would you run to list the first and last names of the 5 customers who have 
# the highest number(count) of payments? You can title the number of payments as num_payments.

USE sakila;

SELECT first_name, last_name, COUNT(payment_id) AS num_payments
FROM customer
JOIN payment ON payment.customer_id=customer.customer_id
WHERE (SELECT MAX(
			(SELECT COUNT(payment_id)
            FROM payment)
		FROM payment))